/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
.container {
  margin: 0 50px 0 50px;
  width: 960px;
}

.nav {
  text-align: center;
  padding: 0;
  color: lightgray;
  width: 100%;
}
.nav li {
  display: inline-block;
  padding: 20px;
  margin: 0 1%;
}

.logo {
  text-align: right;
}

.hero {
  margin: 100px 0 50px 0;
  text-align: center;
}

.hero li {
  display: inline-block;
  text-align: center;
}

.code-snippet {
  margin-left: 150px;
}

.tagline h1 {
  font-size: 70px;
  /* margin-right: 200px; */
  /* margin-top: -150px; */
  /* margin-left: 50px; */
  /* text-align: center; */
  width: 250px;
}

.tagline {
  margin: 0;
  /* position: absolute; */
  top: 50%;
  /* transform: translateY(-50%); */
  /* margin-right: 50px; */
  width: 200px;
  /* text-align: center; */
}

button {
  /* font-family: Lato; */
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 200px;
  height: 35px;
  margin-left: 30px;
}

.features {
  text-align: justify;
  max-width: 100%;
  margin: auto;
}
.features li {
  display: inline-block;
  padding: 10px;
}

.features p {
  width: 450px;
}

hr {
  max-width: 100%;
  margin: 50px 0;
}

.services {
  /* text-align: justify; */
  margin: auto;

  /* margin: 10px;
  padding: 10px; */
}
.services li {
  display: inline-block;
  position: relative;
  width: 33%;
}

/* .middle-image {
  text-align: centerß;
} */

.middle-img {
  width: 960px;
  max-height: 100%;
  margin: 20px 0 20px 0;
}

.services li {
  display: inline-block;
}

address li {
  margin: 10px 0 10px 0;
}

.copyright {
  text-align: center;
  margin: 50px;
}
